/**********Mixins**********/
/*
$from: green;
$to: blue;

@mixin linear-gradient($from, $to) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}
$backgroundImg: url(../img/bg.jpg);
html{
    background: $backgroundImg}

@mixin greyscale($greyPercent){
      -webkit-filter: grayscale($greyPercent);
     -moz-filter: grayscale($greyPercent);
      -ms-filter: grayscale($greyPercent);
          filter: grayscale($greyPercent);
    
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin columnWidthCalculator($containerWidth, $colNum, $padding, $margin){
    width: ($containerWidth - (2 * $padding + 2 * $margin) * $colNum) / $colNum;
    padding: $padding;
    margin: $margin;
    //overflow: scroll;
}
@mixin rotate($degree, $animateTime){
    transition: all $animateTime linear;
    -ms-transform: rotate($degree);
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    transform: rotate($degree);
}
@mixin flip($animateTime){
    transition: all $animateTime linear;
            -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
*/
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .jumbobackground {
    background: url(img/MountainBoard.jpg) no-repeat center center;
    height: 440px;
    padding: 20px;
    margin: 0; } }
@media only screen and (min-width: 480px) {
  .jumbobackground {
    background: url(img/MountainBoard.jpg) no-repeat center center;
    background-size: 100%;
    height: 440px;
    padding: 20px;
    margin: 0; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .jumbobackground {
    background: url(img/Jumping.jpg) no-repeat center center;
    background-size: 100%;
    height: 440px;
    padding: 20px;
    margin: 0; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .jumbobackground {
    background: url(img/Jumping.jpg) no-repeat center center;
    background-size: 100%;
    height: 440px;
    padding: 20px;
    margin: 0; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .jumbobackground {
    background: url(img/crash.jpg) no-repeat center center;
    background-size: 100%;
    height: 440px;
    padding: 20px;
    margin: 0; } }
.jumbotron {
  background-color: rgba(255, 255, 255, 0.4);
  height: 400px;
  width: 100%; }

body, html, .wrapper {
  height: 100%; }

.wrapper {
  margin-bottom: 200px; }

footer {
  margin: 0 auto;
  display: block;
  background: white;
  padding: 0.5rem;
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%; }

/**********Sticky Footer**********/
* {
  margin: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  padding-top: 1px;
  margin-top: 20px; }

.wrapper:after {
  content: "";
  display: block; }

footer {
  height: 120px; }

footer {
  text-align: center;
  height: 100px;
  padding: 10px;
  color: #444;
  background-color: #ddd; }

/*# sourceMappingURL=main.css.map */
