$footerHeight: 90px;
$footerPadding: 10px;


* {
	margin: 0;
}
html, body {
	min-height: 100%;
}
.wrapper {
  min-height: 100%;
    padding-top: 1px;
    margin-top: 20px;
    height: 100%;
    overflow: scroll;
    margin-bottom:  $footerHeight + (2 * $footerPadding);
}
.wrapper:after {
  content: "";
  display: block;
}
footer{
    margin-top: 20px; 
    text-align: center;
    height: $footerHeight; 
    padding: $footerPadding;
  color: #ddd;
    background-color: #333;
}
